In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../data/Headway Data.csv')

In [3]:
weather_all = pd.read_csv('../data/bna_weather.csv')

### info for all csv files

In [4]:
headway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [5]:
weather_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       9739 non-null   object
 1   key                        9739 non-null   object
 2   class                      9739 non-null   object
 3   expire_time_gmt            9739 non-null   int64
 4   obs_id                     9739 non-null   object
 5   obs_name                   9739 non-null   object
 6   valid_time_gmt             9739 non-null   int64
 7   day_ind                    9739 non-null   object
 8   temp                       9739 non-null   int64
 9   wx_icon                    9739 non-null   int64
 10  icon_extd                  9739 non-null   int64
 11  wx_phrase                  9739 non-null   object
 12  pressure_tend              2885 non-null   float64
 13  pressure_desc              2885 non-null   object
 14  dewPt                      9739 non-null   int64
 15  heat_index                 9739 non-null   int64
 16  rh                         9739 non-null   int64
 17  pressure                   9739 non-null   float64
 18  vis                        9735 non-null   float64
 19  wc                         9731 non-null   float64
 20  wdir                       8217 non-null   float64
 21  wdir_cardinal              9731 non-null   object
 22  gust                       1460 non-null   float64
 23  wspd                       9731 non-null   float64
 24  max_temp                   361 non-null    float64
 25  min_temp                   361 non-null    float64
 26  precip_total               103 non-null    float64
 27  precip_hrly                9739 non-null   float64
 28  snow_hrly                  9 non-null      float64
 29  uv_desc                    9725 non-null   object
 30  feels_like                 9738 non-null   float64
 31  uv_index                   9725 non-null   float64
 32  qualifier                  0 non-null      float64
 33  qualifier_svrty            0 non-null      float64
 34  blunt_phrase               0 non-null      float64
 35  terse_phrase               0 non-null      float64
 36  clds                       9739 non-null   object
 37  water_temp                 0 non-null      float64
 38  primary_wave_period        0 non-null      float64
 39  primary_wave_height        0 non-null      float64
 40  primary_swell_period       0 non-null      float64
 41  primary_swell_height       0 non-null      float64
 42  primary_swell_direction    0 non-null      float64
 43  secondary_swell_period     0 non-null      float64
 44  secondary_swell_height     0 non-null      float64
 45  secondary_swell_direction  0 non-null      float64
dtypes: float64(27), int64(8), object(11)
memory usage: 3.4+ MB

### n/a counts

In [6]:
headway.isna().sum()

CALENDAR_ID                       0
SERVICE_ABBR                      0
ADHERENCE_ID                      0
DATE                              0
ROUTE_ABBR                        0
BLOCK_ABBR                        0
OPERATOR                          0
TRIP_ID                           0
OVERLOAD_ID                       0
ROUTE_DIRECTION_NAME              0
TIME_POINT_ABBR                   0
ROUTE_STOP_SEQUENCE              41
TRIP_EDGE                         0
LATITUDE                          0
LONGITUDE                         0
SCHEDULED_TIME                    0
ACTUAL_ARRIVAL_TIME           54383
ACTUAL_DEPARTURE_TIME         54430
ADHERENCE                     54430
SCHEDULED_HDWY               432294
ACTUAL_HDWY                  473824
HDWY_DEV                     474368
ADJUSTED_EARLY_COUNT              0
ADJUSTED_LATE_COUNT               0
ADJUSTED_ONTIME_COUNT             0
STOP_CANCELLED                    0
PREV_SCHED_STOP_CANCELLED    402647
IS_RELIEF                         0
BLOCK_STOP_ORDER                  0
DWELL_IN_MINS                 54456
dtype: int64

In [7]:
weather_all.isna().sum()

Date                            0
key                             0
class                           0
expire_time_gmt                 0
obs_id                          0
obs_name                        0
valid_time_gmt                  0
day_ind                         0
temp                            0
wx_icon                         0
icon_extd                       0
wx_phrase                       0
pressure_tend                6854
pressure_desc                6854
dewPt                           0
heat_index                      0
rh                              0
pressure                        0
vis                             4
wc                              8
wdir                         1522
wdir_cardinal                   8
gust                         8279
wspd                            8
max_temp                     9378
min_temp                     9378
precip_total                 9636
precip_hrly                     0
snow_hrly                    9730
uv_desc                        14
feels_like                      1
uv_index                       14
qualifier                    9739
qualifier_svrty              9739
blunt_phrase                 9739
terse_phrase                 9739
clds                            0
water_temp                   9739
primary_wave_period          9739
primary_wave_height          9739
primary_swell_period         9739
primary_swell_height         9739
primary_swell_direction      9739
secondary_swell_period       9739
secondary_swell_height       9739
secondary_swell_direction    9739
dtype: int64

### narrowing weather data down to date and temperature

In [8]:
weather_df = weather_all[['Date', 'temp', 'wx_phrase']]
weather_df

                     Date  temp      wx_phrase
0     2021-11-01 00:53:00    51         Cloudy
1     2021-11-01 01:30:00    50  Partly Cloudy
2     2021-11-01 01:53:00    49           Fair
3     2021-11-01 02:53:00    48           Fair
4     2021-11-01 03:53:00    47           Fair
...                   ...   ...            ...
9734  2022-10-31 19:53:00    60         Cloudy
9735  2022-10-31 20:53:00    60         Cloudy
9736  2022-10-31 21:53:00    58  Mostly Cloudy
9737  2022-10-31 22:53:00    60  Mostly Cloudy
9738  2022-10-31 23:53:00    60         Cloudy

[9739 rows x 3 columns]

In [9]:
headway['HDWY_DEV'].describe()

count    1.507347e+06
mean     3.647395e-01
std      6.579797e+00
min     -2.220667e+02
25%     -1.883334e+00
50%      0.000000e+00
75%      1.966666e+00
max      1.054617e+03
Name: HDWY_DEV, dtype: float64

### Dropped all columns to right of HDWY_DEV

In [10]:
headway_df = headway.drop(headway.iloc[:, 22:30], inplace=True, axis=1)

In [11]:
headway_df = headway.rename(columns={"DATE":"Date"})

In [12]:
headway.ROUTE_ABBR.unique()

array([ 7, 50, 22, 23,  3, 52, 55, 56])

In [13]:
weather_all['Date'] = weather_all['Date'].str[:10]
weather_all

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9735,2022-10-31,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,2022-10-31,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9737,2022-10-31,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,2022-10-31,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
weather_all[['Date', 'temp', 'wx_phrase']]

            Date  temp      wx_phrase
0     2021-11-01    51         Cloudy
1     2021-11-01    50  Partly Cloudy
2     2021-11-01    49           Fair
3     2021-11-01    48           Fair
4     2021-11-01    47           Fair
...          ...   ...            ...
9734  2022-10-31    60         Cloudy
9735  2022-10-31    60         Cloudy
9736  2022-10-31    58  Mostly Cloudy
9737  2022-10-31    60  Mostly Cloudy
9738  2022-10-31    60         Cloudy

[9739 rows x 3 columns]

In [15]:
wego_trips = headway_df.merge(weather_df, on=['Date'], how='outer')
wego_trips

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,Date,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,temp,wx_phrase
0,120211101.0,1.0,76447164.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,NaN,NaN
1,120211101.0,1.0,76447165.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,NaN,NaN
2,120211101.0,1.0,76447166.0,2021-11-01,7.0,1704.0,2088.0,297750.0,0.0,TO DOWNTOWN,...,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,NaN,NaN
3,120211101.0,1.0,76447167.0,2021-11-01,50.0,1704.0,2088.0,297749.0,0.0,TO DOWNTOWN,...,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,NaN,NaN
4,120211101.0,1.0,76447168.0,2021-11-01,50.0,1704.0,2088.0,297749.0,0.0,TO DOWNTOWN,...,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1991449,NaN,NaN,NaN,2022-10-31 19:53:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,Cloudy
1991450,NaN,NaN,NaN,2022-10-31 20:53:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,Cloudy
1991451,NaN,NaN,NaN,2022-10-31 21:53:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,Mostly Cloudy
1991452,NaN,NaN,NaN,2022-10-31 22:53:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,Mostly Cloudy
1991453,NaN,NaN,NaN,2022-10-31 23:53:00,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,Cloudy

In [16]:
print(wego_trips['wx_phrase'].unique())

[nan 'Cloudy' 'Partly Cloudy' 'Fair' 'Mostly Cloudy' 'Light Rain' 'Mist'
 'Haze' 'Fog' 'Patches of Fog' 'Rain' 'Heavy Rain' 'Cloudy / Windy'
 'Light Drizzle' 'Drizzle' 'Thunder in the Vicinity' 'Thunder'
 'Mostly Cloudy / Windy' 'T-Storm / Windy' 'Heavy T-Storm' 'T-Storm'
 'Thunder / Windy' 'Light Rain with Thunder' 'Partly Cloudy / Windy'
 'Heavy Rain / Windy' 'Wintry Mix' 'Light Snow and Sleet' 'Light Snow'
 'Snow' 'Fair / Windy' 'Heavy Snow' 'Light Sleet' 'Snow and Sleet'
 'Light Rain / Windy' 'Rain / Windy' 'Heavy T-Storm / Windy'
 'Light Drizzle / Windy' 'Smoke']

In [17]:
avg_headway_weather = wego_trips.groupby('wx_phrase', as_index=False)['HDWY_DEV'].mean()

In [18]:
avg_headway_weather

                  wx_phrase  HDWY_DEV
0                    Cloudy       NaN
1            Cloudy / Windy       NaN
2                   Drizzle       NaN
3                      Fair       NaN
4              Fair / Windy       NaN
5                       Fog       NaN
6                      Haze       NaN
7                Heavy Rain       NaN
8        Heavy Rain / Windy       NaN
9                Heavy Snow       NaN
10            Heavy T-Storm       NaN
11    Heavy T-Storm / Windy       NaN
12            Light Drizzle       NaN
13    Light Drizzle / Windy       NaN
14               Light Rain       NaN
15       Light Rain / Windy       NaN
16  Light Rain with Thunder       NaN
17              Light Sleet       NaN
18               Light Snow       NaN
19     Light Snow and Sleet       NaN
20                     Mist       NaN
21            Mostly Cloudy       NaN
22    Mostly Cloudy / Windy       NaN
23            Partly Cloudy       NaN
24    Partly Cloudy / Windy       NaN
25           Patches of Fog       NaN
26                     Rain       NaN
27             Rain / Windy       NaN
28                    Smoke       NaN
29                     Snow       NaN
30           Snow and Sleet       NaN
31                  T-Storm       NaN
32          T-Storm / Windy       NaN
33                  Thunder       NaN
34          Thunder / Windy       NaN
35  Thunder in the Vicinity       NaN
36               Wintry Mix       NaN

### Focusing on 1 and 4 in the read me

#### 1. How much impact does being late or too spaced out at the first stop have downstream?

#### 4. What is the relationship between distance or time travelled since the start of a given trip and the headway deviation? Does headway become less stable the further along the route the bus has travelled?

In [35]:
headway_df.head(60)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,Date,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,...,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,...,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN
10,120211101,1,76447974,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,05:25:00,05:25:52,05:25:52,-0.866666,NaN,NaN,NaN
11,120211101,1,76447975,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,05:32:00,05:33:39,05:33:39,-1.650000,NaN,NaN,NaN
12,120211101,1,76447976,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,...,1,36.178360,-86.845441,05:42:00,05:33:39,05:43:03,-1.050000,35.0,34.633333,-0.366667
13,120211101,1,76447977,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,...,0,36.193454,-86.839981,05:46:00,05:48:15,05:48:15,-2.250000,35.0,35.866666,0.866666
14,120211101,1,76447978,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,...,0,36.182177,-86.814445,05:54:00,05:54:23,05:54:23,-0.383333,15.0,13.983333,-1.016667
15,120211101,1,76447979,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,...,2,36.167091,-86.781923,06:10:00,06:05:39,06:05:39,4.350000,NaN,NaN,NaN
16,120211101,1,76447980,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,06:15:00,06:05:39,06:17:01,-2.016666,35.0,36.116666,1.116666
17,120211101,1,76447981,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,06:25:00,06:26:17,06:26:17,-1.283333,15.0,15.400000,0.400000
18,120211101,1,76447982,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,06:35:00,06:34:28,06:34:28,0.533333,NaN,NaN,NaN
19,120211101,1,76447983,2021-11-01,22,2200,1352,298129,0,TO DOWNTOWN,...,1,36.178360,-86.845441,06:42:00,06:34:28,06:43:17,-1.283333,60.0,60.233333,0.233333
20,120211101,1,76447984,2021-11-01,22,2200,1352,298129,0,TO DOWNTOWN,...,0,36.193454,-86.839981,06:46:00,06:53:40,06:53:40,-7.666666,60.0,65.416666,5.416666
21,120211101,1,76447985,2021-11-01,22,2200,1352,298129,0,TO DOWNTOWN,...,0,36.182177,-86.814445,06:54:00,07:06:29,07:06:29,-12.483333,15.0,25.066666,10.066666
22,120211101,1,76447986,2021-11-01,22,2200,1352,298129,0,TO DOWNTOWN,...,2,36.167091,-86.781923,07:10:00,07:16:14,07:16:14,-6.233333,NaN,NaN,NaN
23,120211101,1,76447987,2021-11-01,22,2200,1352,298152,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,07:15:00,07:16:14,07:20:07,-5.116666,30.0,33.366666,3.366666
24,120211101,1,76447988,2021-11-01,22,2200,1352,298152,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,07:25:00,07:29:45,07:29:45,-4.750000,15.0,11.333333,-3.666667
25,120211101,1,76447989,2021-11-01,22,2200,1352,298152,0,FROM DOWNTOWN,...,0,36.195013,-86.837902,07:31:00,07:36:49,07:36:49,-5.816666,NaN,NaN,NaN
26,120211101,1,76447990,2021-11-01,22,2200,1352,298152,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,07:36:00,07:40:28,07:40:28,-4.466666,NaN,NaN,NaN
27,120211101,1,76447991,2021-11-01,22,2200,1352,298130,0,TO DOWNTOWN,...,1,36.178360,-86.845441,07:45:00,07:40:28,07:44:49,0.183333,63.0,61.533333,-1.466667
28,120211101,1,76447992,2021-11-01,22,2200,1352,298130,0,TO DOWNTOWN,...,0,36.182177,-86.814445,07:54:00,07:58:01,07:58:01,-4.016666,15.0,17.883333,2.883333
29,120211101,1,76447993,2021-11-01,22,2200,1352,298130,0,TO DOWNTOWN,...,2,36.167091,-86.781923,08:10:00,08:09:52,08:09:52,0.133333,NaN,NaN,NaN
30,120211101,1,76447994,2021-11-01,22,2200,1352,298153,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,08:15:00,08:09:52,08:19:12,-4.200000,30.0,31.183333,1.183333
31,120211101,1,76447995,2021-11-01,22,2200,1352,298153,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,08:25:00,08:31:47,08:31:47,-6.783333,15.0,19.800000,4.800000
32,120211101,1,76447996,2021-11-01,22,2200,1352,298153,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,08:35:00,08:41:36,08:41:36,-6.600000,NaN,NaN,NaN
33,120211101,1,76447997,2021-11-01,22,2200,1352,298131,0,TO DOWNTOWN,...,1,36.178360,-86.845441,08:45:00,08:41:36,08:45:13,-0.216666,60.0,60.400000,0.400000
34,120211101,1,76447998,2021-11-01,22,2200,1352,298131,0,TO DOWNTOWN,...,0,36.182177,-86.814445,08:54:00,08:55:59,08:55:59,-1.983333,15.0,14.916666,-0.083334
35,120211101,1,76447999,2021-11-01,22,2200,1352,298131,0,TO DOWNTOWN,...,2,36.167091,-86.781923,09:10:00,09:05:44,09:05:44,4.266666,NaN,NaN,NaN
36,120211101,1,76448000,2021-11-01,22,2200,1352,298147,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,09:15:00,09:05:44,09:18:37,-3.616666,30.0,27.683333,-2.316667
37,120211101,1,76448001,2021-11-01,22,2200,1352,298147,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,09:26:00,09:29:07,09:29:07,-3.116666,16.0,18.433333,2.433333
38,120211101,1,76448002,2021-11-01,22,2200,1352,298147,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,09:36:00,09:37:54,09:37:54,-1.900000,NaN,NaN,NaN
39,120211101,1,76448003,2021-11-01,22,2200,1352,298132,0,TO DOWNTOWN,...,1,36.178360,-86.845441,09:40:00,09:37:54,09:40:05,-0.083333,55.0,54.866666,-0.133334
40,120211101,1,76448004,2021-11-01,22,2200,1352,298132,0,TO DOWNTOWN,...,0,36.182177,-86.814445,09:49:00,09:49:23,09:49:23,-0.383333,10.0,10.083333,0.083333
41,120211101,1,76448005,2021-11-01,22,2200,1352,298132,0,TO DOWNTOWN,...,2,36.167091,-86.781923,10:05:00,10:01:44,10:01:44,3.266666,NaN,NaN,NaN
42,120211101,1,76448006,2021-11-01,22,2200,1194,298158,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,10:10:00,10:01:44,10:11:34,-1.566666,25.0,24.000000,-1.000000
43,120211101,1,76448007,2021-11-01,22,2200,1194,298158,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,10:21:00,10:23:18,10:23:18,-2.300000,10.0,11.400000,1.400000
44,120211101,1,76448008,2021-11-01,22,2200,1194,298158,0,FROM DOWNTOWN,...,2,36.192856,-86.828554,10:25:00,10:26:11,10:26:11,-1.183333,NaN,NaN,NaN
45,120211101,1,76448009,2021-11-01,22,2200,1194,298136,0,TO DOWNTOWN,...,1,36.192856,-86.828554,10:35:00,10:26:11,10:34:22,0.633333,50.0,45.650000,-4.350000
46,120211101,1,76448010,2021-11-01,22,2200,1194,298136,0,TO DOWNTOWN,...,0,36.218706,-86.834137,10:45:00,10:44:23,10:44:23,0.616666,50.0,48.016666,-1.983334
47,120211101,1,76448011,2021-11-01,22,2200,1194,298136,0,TO DOWNTOWN,...,0,36.203239,-86.840636,10:52:00,10:52:37,10:52:37,-0.616666,50.0,51.200000,1.200000
48,120211101,1,76448012,2021-11-01,22,2200,1194,298136,0,TO DOWNTOWN,...,0,36.182177,-86.814445,10:59:00,10:59:26,10:59:26,-0.433333,10.0,7.566666,-2.433334
49,120211101,1,76448013,2021-11-01,22,2200,1194,298136,0,TO DOWNTOWN,...,2,36.167091,-86.781923,11:15:00,11:07:00,11:07:00,8.000000,NaN,NaN,NaN
50,120211101,1,76448014,2021-11-01,22,2200,1194,298154,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,11:25:00,11:07:00,11:26:36,-1.600000,25.0,24.716666,-0.283334
51,120211101,1,76448015,2021-11-01,22,2200,1194,298154,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,11:37:00,11:37:53,11:37:53,-0.883333,11.0,6.483333,-4.516667
52,120211101,1,76448016,2021-11-01,22,2200,1194,298154,0,FROM DOWNTOWN,...,2,36.178360,-86.845441,11:47:00,11:45:38,11:45:38,1.366666,NaN,NaN,NaN
53,120211101,1,76448017,2021-11-01,22,2200,1194,298133,0,TO DOWNTOWN,...,1,36.178360,-86.845441,12:05:00,11:45:38,12:04:30,0.500000,50.0,47.983333,-2.016667
54,120211101,1,76448018,2021-11-01,22,2200,1194,298133,0,TO DOWNTOWN,...,0,36.182177,-86.814445,12:14:00,12:13:48,12:13:48,0.200000,10.0,8.783333,-1.216667
55,120211101,1,76448019,2021-11-01,22,2200,1194,298133,0,TO DOWNTOWN,...,2,36.167091,-86.781923,12:30:00,12:23:53,12:23:53,6.116666,NaN,NaN,NaN
56,120211101,1,76448020,2021-11-01,22,2200,1194,298159,0,FROM DOWNTOWN,...,1,36.167091,-86.781923,12:40:00,12:23:53,12:41:30,-1.500000,25.0,24.283333,-0.716667
57,120211101,1,76448021,2021-11-01,22,2200,1194,298159,0,FROM DOWNTOWN,...,0,36.183480,-86.814220,12:52:00,12:52:05,12:52:05,-0.083333,10.0,4.216666,-5.783334
58,120211101,1,76448022,2021-11-01,22,2200,1194,298159,0,FROM DOWNTOWN,...,0,36.192856,-86.828554,12:56:00,12:56:22,12:56:22,-0.366666,50.0,50.266666,0.266666
59,120211101,1,76448023,2021-11-01,22,2200,1194,298159,0,FROM DOWNTOWN,...,0,36.218706,-86.834137,13:07:00,13:06:36,13:06:36,0.400000,50.0,49.533333,-0.466667

In [37]:
hdwy_distance = headway_df[['TRIP_ID', 'HDWY_DEV']]
hdwy_distance

         TRIP_ID  HDWY_DEV
0         297750  1.983333
1         297750  3.333333
2         297750       NaN
3         297749       NaN
4         297749       NaN
...          ...       ...
1981710   329980       NaN
1981711   330003 -2.366667
1981712   330003       NaN
1981713   330011       NaN
1981714   330011       NaN

[1981715 rows x 2 columns]

In [38]:
hdwy_distance.head(60)

    TRIP_ID   HDWY_DEV
0    297750   1.983333
1    297750   3.333333
2    297750        NaN
3    297749        NaN
4    297749        NaN
5    298143        NaN
6    298143        NaN
7    298143        NaN
8    298143        NaN
9    298162        NaN
10   298162        NaN
11   298162        NaN
12   298128  -0.366667
13   298128   0.866666
14   298128  -1.016667
15   298128        NaN
16   298151   1.116666
17   298151   0.400000
18   298151        NaN
19   298129   0.233333
20   298129   5.416666
21   298129  10.066666
22   298129        NaN
23   298152   3.366666
24   298152  -3.666667
25   298152        NaN
26   298152        NaN
27   298130  -1.466667
28   298130   2.883333
29   298130        NaN
30   298153   1.183333
31   298153   4.800000
32   298153        NaN
33   298131   0.400000
34   298131  -0.083334
35   298131        NaN
36   298147  -2.316667
37   298147   2.433333
38   298147        NaN
39   298132  -0.133334
40   298132   0.083333
41   298132        NaN
42   298158  -1.000000
43   298158   1.400000
44   298158        NaN
45   298136  -4.350000
46   298136  -1.983334
47   298136   1.200000
48   298136  -2.433334
49   298136        NaN
50   298154  -0.283334
51   298154  -4.516667
52   298154        NaN
53   298133  -2.016667
54   298133  -1.216667
55   298133        NaN
56   298159  -0.716667
57   298159  -5.783334
58   298159   0.266666
59   298159  -0.466667

In [42]:
clean_hdwy_distance = hdwy_distance.dropna()

In [44]:
clean_hdwy_distance

         TRIP_ID  HDWY_DEV
0         297750  1.983333
1         297750  3.333333
12        298128 -0.366667
13        298128  0.866666
14        298128 -1.016667
...          ...       ...
1981695   329461 -1.150000
1981696   329461 -2.500000
1981698   329459 -1.883334
1981699   329459 -6.516667
1981711   330003 -2.366667

[1507347 rows x 2 columns]

In [45]:
clean_hdwy_distance.head(60)

    TRIP_ID   HDWY_DEV
0    297750   1.983333
1    297750   3.333333
12   298128  -0.366667
13   298128   0.866666
14   298128  -1.016667
16   298151   1.116666
17   298151   0.400000
19   298129   0.233333
20   298129   5.416666
21   298129  10.066666
23   298152   3.366666
24   298152  -3.666667
27   298130  -1.466667
28   298130   2.883333
30   298153   1.183333
31   298153   4.800000
33   298131   0.400000
34   298131  -0.083334
36   298147  -2.316667
37   298147   2.433333
39   298132  -0.133334
40   298132   0.083333
42   298158  -1.000000
43   298158   1.400000
45   298136  -4.350000
46   298136  -1.983334
47   298136   1.200000
48   298136  -2.433334
50   298154  -0.283334
51   298154  -4.516667
53   298133  -2.016667
54   298133  -1.216667
56   298159  -0.716667
57   298159  -5.783334
58   298159   0.266666
59   298159  -0.466667
61   298137  -0.033334
62   298137  -4.266667
64   298155  -0.416667
65   298155   1.700000
67   298134  -5.300000
68   298134  -7.533334
70   298160  -2.850000
71   298160   0.916666
72   298160  -0.900000
73   298160  -2.750000
75   298138  -0.700000
76   298138  -2.516667
78   298156  -0.666667
79   298156   3.333333
82   298135   0.866666
83   298135   2.516666
85   298161  -0.883334
86   298161  -8.950000
87   298161  -8.116667
88   298161  -9.300000
90   298139  -3.433334
91   298139  -1.416667
93   298157  -0.900000
94   298157   1.133333