In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

In [2]:
headway = pd.read_csv('../data/Headway Data.csv')

In [3]:
weather_all = pd.read_csv('../data/bna_weather.csv')

### info for all csv files

In [4]:
headway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [5]:
headway

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1981710,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,MCC4_20,3.0,2,36.167091,-86.781923,15:18:00,15:19:43,15:20:44,-2.733333,NaN,NaN,NaN,0,0,1,0,NaN,0,3,1.016666
1981711,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,MLKS,10.0,1,36.161008,-86.800851,15:20:00,14:57:12,15:07:06,12.900000,10.0,7.633333,-2.366667,1,0,0,0,0.0,0,2,9.900000
1981712,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,MCC5_11,4.0,2,36.167091,-86.781923,15:37:00,15:10:16,15:10:16,26.733333,NaN,NaN,NaN,1,0,0,0,NaN,0,3,0.000000
1981713,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,MEIG,7.0,1,36.176017,-86.760399,15:20:00,14:59:40,15:19:02,0.966666,0.0,NaN,NaN,0,0,1,0,0.0,0,2,19.366666
1981714,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,MCC4_20,2.0,2,36.167091,-86.781923,15:30:00,15:26:05,15:27:46,2.233333,NaN,NaN,NaN,0,0,1,0,NaN,0,3,1.683333

In [6]:
avg_adherence_by_hour = headway[['ADHERENCE', 'ACTUAL_ARRIVAL_TIME']]
avg_adherence_by_hour

         ADHERENCE ACTUAL_ARRIVAL_TIME
0        -2.000000          13:59:21
1        -3.350000          14:23:21
2       -20.183333          14:36:46
3        -0.283333          15:04:31
4        10.016666          15:16:59
...            ...                 ...
1981710  -2.733333          15:19:43
1981711  12.900000          14:57:12
1981712  26.733333          15:10:16
1981713   0.966666          14:59:40
1981714   2.233333          15:26:05

[1981715 rows x 2 columns]

In [7]:
avg_hdwy['ADHERENCE'] = avg_hdwy['ADHERENCE'].abs()

NameError: name 'avg_hdwy' is not defined

In [ ]:
avg_hdwy = headway[['ROUTE_ABBR', 'TRIP_EDGE', 'ADHERENCE']]
avg_hdwy

In [ ]:
#avg_hdwy = avg_hdwy[avg_hdwy.TRIP_EDGE != 0]
#avg_hdwy

In [ ]:
avg_hdwy = avg_hdwy.dropna()
avg_hdwy

### create new column with absolute values for adherence, then do group by.

In [ ]:
avg_hdwy['ADHERENCE'] = avg_hdwy['ADHERENCE'].abs()

In [ ]:
avg_hdwy

### now focus on by hour in the day or by month instead of freaking out over all the routes

In [ ]:
avg_adherence = avg_hdwy.groupby(["ROUTE_ABBR", "TRIP_EDGE"])["ADHERENCE"].mean()
avg_adherence

### Dropped all columns to right of HDWY_DEV

In [ ]:
#headway_df = headway.drop(headway.iloc[:, 22:30], inplace=True, axis=1)

In [ ]:
#headway_df = headway.rename(columns={"DATE":"Date"})

In [ ]:
headway.ROUTE_ABBR.unique()

In [ ]:
#weather_all[['Date', 'temp', 'wx_phrase']]

In [ ]:
#wego_trips = headway_df.merge(weather_df, on=['Date'], how='outer')
#wego_trips

In [ ]:
#print(wego_trips['wx_phrase'].unique())

In [ ]:
#avg_headway_weather = wego_trips.groupby('wx_phrase', as_index=False)['HDWY_DEV'].mean()

In [ ]:
#avg_headway_weather

### Focusing on 1 and 4 in the read me

#### 1. How much impact does being late or too spaced out at the first stop have downstream?

#### 4. What is the relationship between distance or time travelled since the start of a given trip and the headway deviation? Does headway become less stable the further along the route the bus has travelled?

In [ ]:
headway_df

In [ ]:
hdwy_distance = headway_df[['HDWY_DEV', 'TRIP_EDGE]]
hdwy_distance

In [ ]:
headway_df['ROUTE_ABBR'].unique()

In [ ]:
hdwy_distance.head(60)

In [ ]:
clean_hdwy_distance = hdwy_distance.dropna()

In [ ]:
clean_hdwy_distance

In [ ]:
clean_hdwy_distance.groupby(['Date'])

In [ ]:
clean_hdwy_distance

In [ ]:
pivot = clean_hdwy_distance.pivot_table(index=['Date', 'TRIP_ID'], 
                                       values = ['HDWY_DEV'], 
                                       aggfunc = {'mean', 'median', 'min'})

In [ ]:
pivot

In [ ]:
clean_hdwy_distance.head(60)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
test = clean_hdwy_distance.head(50)

In [ ]:
pivot = clean_hdwy_distance.pivot_table(index=['Date'], 
                                       values = ['HDWY_DEV'], 
                                       aggfunc = {'mean', 'median', 'min'})

In [ ]:
pivot.info()

In [ ]:
pivot.reset_index(drop = False, inplace = True)

In [ ]:
pivot.info()

In [ ]:
sns.color_palette("Paired")

In [ ]:
import numpy as np