In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../data/Headway Data.csv')

In [3]:
weather_all = pd.read_csv('../data/bna_weather.csv')

### info for all csv files

In [4]:
headway.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1981715 entries, 0 to 1981714
Data columns (total 30 columns):
 #   Column                     Dtype
---  ------                     -----
 0   CALENDAR_ID                int64
 1   SERVICE_ABBR               int64
 2   ADHERENCE_ID               int64
 3   DATE                       object
 4   ROUTE_ABBR                 int64
 5   BLOCK_ABBR                 int64
 6   OPERATOR                   int64
 7   TRIP_ID                    int64
 8   OVERLOAD_ID                int64
 9   ROUTE_DIRECTION_NAME       object
 10  TIME_POINT_ABBR            object
 11  ROUTE_STOP_SEQUENCE        float64
 12  TRIP_EDGE                  int64
 13  LATITUDE                   float64
 14  LONGITUDE                  float64
 15  SCHEDULED_TIME             object
 16  ACTUAL_ARRIVAL_TIME        object
 17  ACTUAL_DEPARTURE_TIME      object
 18  ADHERENCE                  float64
 19  SCHEDULED_HDWY             float64
 20  ACTUAL_HDWY                float64
 21  HDWY_DEV                   float64
 22  ADJUSTED_EARLY_COUNT       int64
 23  ADJUSTED_LATE_COUNT        int64
 24  ADJUSTED_ONTIME_COUNT      int64
 25  STOP_CANCELLED             int64
 26  PREV_SCHED_STOP_CANCELLED  float64
 27  IS_RELIEF                  int64
 28  BLOCK_STOP_ORDER           int64
 29  DWELL_IN_MINS              float64
dtypes: float64(9), int64(15), object(6)
memory usage: 453.6+ MB

In [5]:
weather_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9739 entries, 0 to 9738
Data columns (total 46 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       9739 non-null   object
 1   key                        9739 non-null   object
 2   class                      9739 non-null   object
 3   expire_time_gmt            9739 non-null   int64
 4   obs_id                     9739 non-null   object
 5   obs_name                   9739 non-null   object
 6   valid_time_gmt             9739 non-null   int64
 7   day_ind                    9739 non-null   object
 8   temp                       9739 non-null   int64
 9   wx_icon                    9739 non-null   int64
 10  icon_extd                  9739 non-null   int64
 11  wx_phrase                  9739 non-null   object
 12  pressure_tend              2885 non-null   float64
 13  pressure_desc              2885 non-null   object
 14  dewPt                      9739 non-null   int64
 15  heat_index                 9739 non-null   int64
 16  rh                         9739 non-null   int64
 17  pressure                   9739 non-null   float64
 18  vis                        9735 non-null   float64
 19  wc                         9731 non-null   float64
 20  wdir                       8217 non-null   float64
 21  wdir_cardinal              9731 non-null   object
 22  gust                       1460 non-null   float64
 23  wspd                       9731 non-null   float64
 24  max_temp                   361 non-null    float64
 25  min_temp                   361 non-null    float64
 26  precip_total               103 non-null    float64
 27  precip_hrly                9739 non-null   float64
 28  snow_hrly                  9 non-null      float64
 29  uv_desc                    9725 non-null   object
 30  feels_like                 9738 non-null   float64
 31  uv_index                   9725 non-null   float64
 32  qualifier                  0 non-null      float64
 33  qualifier_svrty            0 non-null      float64
 34  blunt_phrase               0 non-null      float64
 35  terse_phrase               0 non-null      float64
 36  clds                       9739 non-null   object
 37  water_temp                 0 non-null      float64
 38  primary_wave_period        0 non-null      float64
 39  primary_wave_height        0 non-null      float64
 40  primary_swell_period       0 non-null      float64
 41  primary_swell_height       0 non-null      float64
 42  primary_swell_direction    0 non-null      float64
 43  secondary_swell_period     0 non-null      float64
 44  secondary_swell_height     0 non-null      float64
 45  secondary_swell_direction  0 non-null      float64
dtypes: float64(27), int64(8), object(11)
memory usage: 3.4+ MB

### n/a counts

In [6]:
headway.isna().sum()

CALENDAR_ID                       0
SERVICE_ABBR                      0
ADHERENCE_ID                      0
DATE                              0
ROUTE_ABBR                        0
BLOCK_ABBR                        0
OPERATOR                          0
TRIP_ID                           0
OVERLOAD_ID                       0
ROUTE_DIRECTION_NAME              0
TIME_POINT_ABBR                   0
ROUTE_STOP_SEQUENCE              41
TRIP_EDGE                         0
LATITUDE                          0
LONGITUDE                         0
SCHEDULED_TIME                    0
ACTUAL_ARRIVAL_TIME           54383
ACTUAL_DEPARTURE_TIME         54430
ADHERENCE                     54430
SCHEDULED_HDWY               432294
ACTUAL_HDWY                  473824
HDWY_DEV                     474368
ADJUSTED_EARLY_COUNT              0
ADJUSTED_LATE_COUNT               0
ADJUSTED_ONTIME_COUNT             0
STOP_CANCELLED                    0
PREV_SCHED_STOP_CANCELLED    402647
IS_RELIEF                         0
BLOCK_STOP_ORDER                  0
DWELL_IN_MINS                 54456
dtype: int64

In [7]:
weather_all.isna().sum()

Date                            0
key                             0
class                           0
expire_time_gmt                 0
obs_id                          0
obs_name                        0
valid_time_gmt                  0
day_ind                         0
temp                            0
wx_icon                         0
icon_extd                       0
wx_phrase                       0
pressure_tend                6854
pressure_desc                6854
dewPt                           0
heat_index                      0
rh                              0
pressure                        0
vis                             4
wc                              8
wdir                         1522
wdir_cardinal                   8
gust                         8279
wspd                            8
max_temp                     9378
min_temp                     9378
precip_total                 9636
precip_hrly                     0
snow_hrly                    9730
uv_desc                        14
feels_like                      1
uv_index                       14
qualifier                    9739
qualifier_svrty              9739
blunt_phrase                 9739
terse_phrase                 9739
clds                            0
water_temp                   9739
primary_wave_period          9739
primary_wave_height          9739
primary_swell_period         9739
primary_swell_height         9739
primary_swell_direction      9739
secondary_swell_period       9739
secondary_swell_height       9739
secondary_swell_direction    9739
dtype: int64

### narrowing weather data down to date and temperature

In [25]:
weather_df = weather_all[['Date', 'temp', 'wx_phrase']]
weather_df

            Date  temp      wx_phrase
0     2021-11-01    51         Cloudy
1     2021-11-01    50  Partly Cloudy
2     2021-11-01    49           Fair
3     2021-11-01    48           Fair
4     2021-11-01    47           Fair
...          ...   ...            ...
9734  2022-10-31    60         Cloudy
9735  2022-10-31    60         Cloudy
9736  2022-10-31    58  Mostly Cloudy
9737  2022-10-31    60  Mostly Cloudy
9738  2022-10-31    60         Cloudy

[9739 rows x 3 columns]

In [10]:
headway['HDWY_DEV'].describe()

count    1.507347e+06
mean     3.647395e-01
std      6.579797e+00
min     -2.220667e+02
25%     -1.883334e+00
50%      0.000000e+00
75%      1.966666e+00
max      1.054617e+03
Name: HDWY_DEV, dtype: float64

### Dropped all columns to right of HDWY_DEV

In [12]:
headway.drop(headway.iloc[:, 22:30], inplace=True, axis=1)

In [21]:
headway_df = headway.rename(columns={"DATE":"Date"})

In [14]:
headway.ROUTE_ABBR.unique()

array([ 7, 50, 22, 23,  3, 52, 55, 56])

In [15]:
weather_all['Date'] = weather_all['Date'].str[:10]
weather_all

,Date,key,class,expire_time_gmt,obs_id,obs_name,valid_time_gmt,day_ind,temp,wx_icon,...,clds,water_temp,primary_wave_period,primary_wave_height,primary_swell_period,primary_swell_height,primary_swell_direction,secondary_swell_period,secondary_swell_height,secondary_swell_direction
0,2021-11-01,KBNA,observation,1635753180,KBNA,Nashville,1635745980,N,51,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-11-01,KBNA,observation,1635755400,KBNA,Nashville,1635748200,N,50,29,...,SCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-11-01,KBNA,observation,1635756780,KBNA,Nashville,1635749580,N,49,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-11-01,KBNA,observation,1635760380,KBNA,Nashville,1635753180,N,48,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-11-01,KBNA,observation,1635763980,KBNA,Nashville,1635756780,N,47,33,...,CLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9734,2022-10-31,KBNA,observation,1667271180,KBNA,Nashville,1667263980,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9735,2022-10-31,KBNA,observation,1667274780,KBNA,Nashville,1667267580,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9736,2022-10-31,KBNA,observation,1667278380,KBNA,Nashville,1667271180,N,58,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9737,2022-10-31,KBNA,observation,1667281980,KBNA,Nashville,1667274780,N,60,27,...,BKN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9738,2022-10-31,KBNA,observation,1667285580,KBNA,Nashville,1667278380,N,60,26,...,OVC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
weather_all[['Date', 'temp', 'wx_phrase']]

            Date  temp      wx_phrase
0     2021-11-01    51         Cloudy
1     2021-11-01    50  Partly Cloudy
2     2021-11-01    49           Fair
3     2021-11-01    48           Fair
4     2021-11-01    47           Fair
...          ...   ...            ...
9734  2022-10-31    60         Cloudy
9735  2022-10-31    60         Cloudy
9736  2022-10-31    58  Mostly Cloudy
9737  2022-10-31    60  Mostly Cloudy
9738  2022-10-31    60         Cloudy

[9739 rows x 3 columns]

In [26]:
wego_trips = headway_df.merge(weather_df, on=['Date'], how='outer')
wego_trips

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,Date,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,...,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,temp,wx_phrase
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,51.0,Cloudy
1,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,50.0,Partly Cloudy
2,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,49.0,Fair
3,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,48.0,Fair
4,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,...,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,47.0,Fair
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52592381,120221101,1,91057724,2022-11-01,50,9302,2355,329980,0,TO DOWNTOWN,...,-86.781923,15:18:00,15:19:43,15:20:44,-2.733333,NaN,NaN,NaN,NaN,NaN
52592382,120221101,1,91057851,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,-86.800851,15:20:00,14:57:12,15:07:06,12.900000,10.0,7.633333,-2.366667,NaN,NaN
52592383,120221101,1,91057852,2022-11-01,50,9950,1880,330003,0,TO DOWNTOWN,...,-86.781923,15:37:00,15:10:16,15:10:16,26.733333,NaN,NaN,NaN,NaN,NaN
52592384,120221101,1,91057881,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,-86.760399,15:20:00,14:59:40,15:19:02,0.966666,0.0,NaN,NaN,NaN,NaN
52592385,120221101,1,91057882,2022-11-01,56,9975,1922,330011,0,TO DOWNTOWN,...,-86.781923,15:30:00,15:26:05,15:27:46,2.233333,NaN,NaN,NaN,NaN,NaN

In [27]:
print(wego_trips['wx_phrase'].unique())

['Cloudy' 'Partly Cloudy' 'Fair' 'Mostly Cloudy' 'Light Rain' 'Mist'
 'Haze' 'Fog' 'Patches of Fog' 'Rain' 'Heavy Rain' 'Cloudy / Windy'
 'Light Drizzle' 'Drizzle' 'Thunder in the Vicinity' 'Thunder'
 'Mostly Cloudy / Windy' 'T-Storm / Windy' 'Heavy T-Storm' 'T-Storm'
 'Thunder / Windy' 'Light Rain with Thunder' 'Partly Cloudy / Windy'
 'Heavy Rain / Windy' 'Wintry Mix' 'Light Snow and Sleet' 'Light Snow'
 'Snow' 'Fair / Windy' 'Heavy Snow' 'Light Sleet' 'Snow and Sleet'
 'Light Rain / Windy' 'Rain / Windy' 'Heavy T-Storm / Windy'
 'Light Drizzle / Windy' 'Smoke' nan]

In [30]:
avg_headway_weather = wego_trips.groupby('wx_phrase', as_index=False)['HDWY_DEV'].mean()

In [31]:
avg_headway_weather

                  wx_phrase  HDWY_DEV
0                    Cloudy  0.341805
1            Cloudy / Windy  0.246176
2                   Drizzle  0.893183
3                      Fair  0.330169
4              Fair / Windy  0.393514
5                       Fog  0.357669
6                      Haze  0.674196
7                Heavy Rain  0.250723
8        Heavy Rain / Windy  0.175011
9                Heavy Snow  4.448329
10            Heavy T-Storm  0.254314
11    Heavy T-Storm / Windy  0.228429
12            Light Drizzle  0.166807
13    Light Drizzle / Windy  0.152433
14               Light Rain  0.324929
15       Light Rain / Windy  0.150404
16  Light Rain with Thunder  0.258509
17              Light Sleet  0.427977
18               Light Snow  1.165933
19     Light Snow and Sleet  1.262388
20                     Mist  0.216597
21            Mostly Cloudy  0.387741
22    Mostly Cloudy / Windy  0.410406
23            Partly Cloudy  0.403616
24    Partly Cloudy / Windy  0.645962
25           Patches of Fog  0.344270
26                     Rain  0.350410
27             Rain / Windy  0.184319
28                    Smoke  0.256608
29                     Snow  1.634212
30           Snow and Sleet  0.454241
31                  T-Storm  0.270555
32          T-Storm / Windy  0.217120
33                  Thunder  0.227699
34          Thunder / Windy  0.073043
35  Thunder in the Vicinity  0.131924
36               Wintry Mix  0.837062