## How much impact does being late or too spaced out at the first stop have downstream?

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
headway = pd.read_csv('../Data/Headway_Data.csv')

In [3]:
pd.set_option('display.max_columns', None)
headway.head(20)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
0,120211101,1,76447164,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,HBHS,4.0,1,36.107575,-86.812719,14:10:00,13:59:21,14:12:00,-2.000000,14.0,15.983333,1.983333,0,0,1,0,0.0,0,2,12.650000
1,120211101,1,76447165,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,21BK,3.0,0,36.138372,-86.800622,14:20:00,14:23:21,14:23:21,-3.350000,14.0,17.333333,3.333333,0,0,1,0,0.0,0,11,0.000000
2,120211101,1,76447166,2021-11-01,7,1704,2088,297750,0,TO DOWNTOWN,MCC5_9,2.0,2,36.167091,-86.781923,14:39:00,14:36:46,14:59:11,-20.183333,NaN,NaN,NaN,0,1,0,0,NaN,0,23,22.416666
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5,120211101,1,76447969,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,04:42:00,04:29:30,04:41:50,0.166666,NaN,NaN,NaN,0,0,1,0,0.0,0,2,12.333333
6,120211101,1,76447970,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,04:46:00,04:46:58,04:46:58,-0.966666,NaN,NaN,NaN,0,0,1,0,0.0,0,9,0.000000
7,120211101,1,76447971,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,04:54:00,04:55:00,04:55:00,-1.000000,NaN,NaN,NaN,0,0,1,0,0.0,0,19,0.000000
8,120211101,1,76447972,2021-11-01,22,2200,1352,298143,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,05:10:00,05:05:26,05:05:26,4.566666,NaN,NaN,NaN,0,0,1,0,NaN,0,35,0.000000
9,120211101,1,76447973,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,05:15:00,05:05:26,05:16:49,-1.816666,NaN,NaN,NaN,0,0,1,0,0.0,0,36,11.383333
10,120211101,1,76447974,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,CV23,6.0,0,36.183480,-86.814220,05:25:00,05:25:52,05:25:52,-0.866666,NaN,NaN,NaN,0,0,1,0,0.0,0,52,0.000000
11,120211101,1,76447975,2021-11-01,22,2200,1352,298162,0,FROM DOWNTOWN,MHSP,15.0,2,36.178360,-86.845441,05:32:00,05:33:39,05:33:39,-1.650000,NaN,NaN,NaN,0,0,1,0,NaN,0,63,0.000000
12,120211101,1,76447976,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,05:42:00,05:33:39,05:43:03,-1.050000,35.0,34.633333,-0.366667,0,0,1,0,0.0,0,64,9.400000
13,120211101,1,76447977,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,ELIZ,11.0,0,36.193454,-86.839981,05:46:00,05:48:15,05:48:15,-2.250000,35.0,35.866666,0.866666,0,0,1,0,0.0,0,71,0.000000
14,120211101,1,76447978,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,CV23,6.0,0,36.182177,-86.814445,05:54:00,05:54:23,05:54:23,-0.383333,15.0,13.983333,-1.016667,0,0,1,0,0.0,0,81,0.000000
15,120211101,1,76447979,2021-11-01,22,2200,1352,298128,0,TO DOWNTOWN,MCC5_12,4.0,2,36.167091,-86.781923,06:10:00,06:05:39,06:05:39,4.350000,NaN,NaN,NaN,0,0,1,0,NaN,0,97,0.000000
16,120211101,1,76447980,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,MCC5_12,4.0,1,36.167091,-86.781923,06:15:00,06:05:39,06:17:01,-2.016666,35.0,36.116666,1.116666,0,0,1,0,0.0,0,98,11.366666
17,120211101,1,76447981,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,CV23,6.0,0,36.183480,-86.814220,06:25:00,06:26:17,06:26:17,-1.283333,15.0,15.400000,0.400000,0,0,1,0,0.0,0,114,0.000000
18,120211101,1,76447982,2021-11-01,22,2200,1352,298151,0,FROM DOWNTOWN,MHSP,15.0,2,36.178360,-86.845441,06:35:00,06:34:28,06:34:28,0.533333,NaN,NaN,NaN,0,0,1,0,NaN,0,125,0.000000
19,120211101,1,76447983,2021-11-01,22,2200,1352,298129,0,TO DOWNTOWN,MHSP,15.0,1,36.178360,-86.845441,06:42:00,06:34:28,06:43:17,-1.283333,60.0,60.233333,0.233333,0,0,1,0,0.0,0,126,8.816666

In [4]:
headway['TRIP_ID'].value_counts()

302998    715
302923    712
305058    704
303006    679
303075    678
         ...
298941      5
298340      3
298341      3
314754      2
314755      2
Name: TRIP_ID, Length: 18495, dtype: int64

In [5]:
hw_sort = headway.sort_values(by=['TRIP_ID','DATE'])

In [6]:
hw_sort.head(24)

,CALENDAR_ID,SERVICE_ABBR,ADHERENCE_ID,DATE,ROUTE_ABBR,BLOCK_ABBR,OPERATOR,TRIP_ID,OVERLOAD_ID,ROUTE_DIRECTION_NAME,TIME_POINT_ABBR,ROUTE_STOP_SEQUENCE,TRIP_EDGE,LATITUDE,LONGITUDE,SCHEDULED_TIME,ACTUAL_ARRIVAL_TIME,ACTUAL_DEPARTURE_TIME,ADHERENCE,SCHEDULED_HDWY,ACTUAL_HDWY,HDWY_DEV,ADJUSTED_EARLY_COUNT,ADJUSTED_LATE_COUNT,ADJUSTED_ONTIME_COUNT,STOP_CANCELLED,PREV_SCHED_STOP_CANCELLED,IS_RELIEF,BLOCK_STOP_ORDER,DWELL_IN_MINS
3,120211101,1,76447167,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:04:31,15:10:17,-0.283333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.766666
4,120211101,1,76447168,2021-11-01,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:59,15:16:59,10.016666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
5923,120211102,1,76489341,2021-11-02,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:10:59,15:16:03,-6.050000,NaN,NaN,NaN,0,1,0,0,0.0,0,24,5.066666
5924,120211102,1,76489342,2021-11-02,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:26:14,15:26:14,0.766666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
11816,120211103,1,76531558,2021-11-03,50,1704,2052,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:12:37,-2.616666,NaN,NaN,NaN,0,0,1,0,0.0,0,24,17.616666
11817,120211103,1,76531559,2021-11-03,50,1704,2052,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:20:08,15:20:08,6.866666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
17722,120211104,1,76573770,2021-11-04,50,1704,2309,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:05:26,4.566666,NaN,NaN,NaN,1,0,0,0,0.0,0,24,10.433333
17723,120211104,1,76573771,2021-11-04,50,1704,2309,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:10:44,15:10:44,16.266666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
23651,120211105,1,76624991,2021-11-05,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:05:47,15:11:38,-1.633333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,5.850000
23652,120211105,1,76624992,2021-11-05,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:16:08,15:16:08,10.866666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
35996,120211108,1,76756411,2021-11-08,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:58:10,15:07:13,2.783333,NaN,NaN,NaN,1,0,0,0,0.0,0,24,9.050000
35997,120211108,1,76756412,2021-11-08,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:15:38,15:15:38,11.366666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
41907,120211109,1,76798455,2021-11-09,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,15:18:08,15:23:50,-13.833333,NaN,NaN,NaN,0,1,0,0,0.0,0,24,5.700000
41908,120211109,1,76798456,2021-11-09,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:29:53,15:29:53,-2.883333,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
47871,120211110,1,76840435,2021-11-10,50,1704,2052,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:10:56,-0.933333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,15.933333
47872,120211110,1,76840436,2021-11-10,50,1704,2052,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:20:10,15:20:10,6.833333,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
59654,120211112,1,76937040,2021-11-12,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:05:01,4.983333,NaN,NaN,NaN,1,0,0,0,0.0,0,24,10.016666
59655,120211112,1,76937041,2021-11-12,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:11:46,15:11:46,15.233333,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
71990,120211115,1,77052909,2021-11-15,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:06:16,3.733333,NaN,NaN,NaN,1,0,0,0,0.0,0,24,11.266666
71991,120211115,1,77052910,2021-11-15,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:18:54,15:18:54,8.100000,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
77923,120211116,1,77089881,2021-11-16,50,1704,2088,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:57:19,15:11:26,-1.433333,NaN,NaN,NaN,0,0,1,0,0.0,0,24,14.116666
77924,120211116,1,77089882,2021-11-16,50,1704,2088,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:21:08,15:21:08,5.866666,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000
83809,120211117,1,77131752,2021-11-17,50,1704,2052,297749,0,TO DOWNTOWN,MLKS,7.0,1,36.161008,-86.800851,15:10:00,14:55:00,15:13:45,-3.750000,NaN,NaN,NaN,0,0,1,0,0.0,0,24,18.750000
83810,120211117,1,77131753,2021-11-17,50,1704,2052,297749,0,TO DOWNTOWN,MCC5_11,5.0,2,36.167091,-86.781923,15:27:00,15:23:19,15:23:19,3.683333,NaN,NaN,NaN,0,0,1,0,NaN,0,25,0.000000

so where date and trip ID are equal ... what is the difference between adherence later on?

look for trip id until number changes and look for date until date changes, then take first adherence and subtract that from the last adherence logged.

In [12]:
test = headway.groupby(['DATE'])

In [13]:
test